In [1]:
# Ejercicio 15

In [2]:
import pandas as pd
import numpy as np

In [3]:
lista_valores = np.random.randint(0,100,50)
lista_valores

array([40, 53, 90, 83, 67, 21, 61, 89,  2, 42, 10, 53,  3,  8,  3, 77, 20,
       12, 49, 37, 57, 54, 24, 93, 19, 16, 16, 52, 87, 28, 38, 32,  4, 35,
       85, 20, 24,  9, 72, 51, 62, 35, 37, 66, 14, 20, 33, 98, 46, 10])

In [8]:
lista_valores.resize(5,10)
lista_valores

array([[40, 53, 90, 83, 67, 21, 61, 89,  2, 42],
       [10, 53,  3,  8,  3, 77, 20, 12, 49, 37],
       [57, 54, 24, 93, 19, 16, 16, 52, 87, 28],
       [38, 32,  4, 35, 85, 20, 24,  9, 72, 51],
       [62, 35, 37, 66, 14, 20, 33, 98, 46, 10]])

In [9]:
dataframe = pd.DataFrame(lista_valores)
dataframe

    0   1   2   3   4   5   6   7   8   9
0  40  53  90  83  67  21  61  89   2  42
1  10  53   3   8   3  77  20  12  49  37
2  57  54  24  93  19  16  16  52  87  28
3  38  32   4  35  85  20  24   9  72  51
4  62  35  37  66  14  20  33  98  46  10

In [11]:
dataframe[dataframe>50]

      0     1     2     3     4     5     6     7     8     9
0   NaN  53.0  90.0  83.0  67.0   NaN  61.0  89.0   NaN   NaN
1   NaN  53.0   NaN   NaN   NaN  77.0   NaN   NaN   NaN   NaN
2  57.0  54.0   NaN  93.0   NaN   NaN   NaN  52.0  87.0   NaN
3   NaN   NaN   NaN   NaN  85.0   NaN   NaN   NaN  72.0  51.0
4  62.0   NaN   NaN  66.0   NaN   NaN   NaN  98.0   NaN   NaN